@import url("../css/bootstrap.min.css");
@import url("../css/animate.css");
@import url("../fonts/feather/feather.css");
@import url("../css/font-awesome.min.css");
@import url("../fonts/fontawesome-free-5.14.0-web/css/all.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: rgba(0, 184, 222, 0.06);
  color: #00004D;
}

p {
  color: #1c283a;
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00004D;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

p {
  line-height: 32px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-link {
  color: #0d373d;
}

.btn-link:hover {
  color: #1eb7b3 !important;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}

.fas.fa-times {
  -webkit-text-stroke: 1px #fff;
}

.btn.btn-primary {
  height: 50px;
  background-color: #00b8de;
  border-color: #00B8DE;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border-radius: 3px;
}

.btn.btn-primary:hover {
  background-color: #00b8de;
  border-color: #00B8DE;
  color: #fff;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 184, 222, 0.4);
  box-shadow: 0 3px 15px 0 rgba(0, 184, 222, 0.4);
}

.btn.btn-primary:focus {
  background-color: #00b8de;
  border-color: #00B8DE;
  color: #fff;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 184, 222, 0.4);
          box-shadow: 0 3px 15px 0 rgba(0, 184, 222, 0.4);
}

.btn.btn-white {
  height: 50px;
  background-color: transparent;
  border-color: rgba(3, 27, 61, 0.5);
  color: #031b3d;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border-radius: 3px;
}

.btn.btn-white:hover {
  background-color: transparent;
  border-color: rgba(3, 27, 61, 0.5);
  color: #031b3d;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(3, 27, 61, 0.4);
  box-shadow: 0 3px 15px 0 rgba(3, 27, 61, 0.4);
}

.btn.btn-white:focus {
  background-color: transparent;
  border-color: rgba(3, 27, 61, 0.5);
  color: #031b3d;
  -webkit-box-shadow: 0 3px 15px 0 rgba(3, 27, 61, 0.4);
  box-shadow: 0 3px 15px 0 rgba(3, 27, 61, 0.4);
}

.btn.btn-small {
  height: 42px;
  padding: 6px 100px;
}

.btn-pad-60 {
  padding: 8px 60px;
}

.btn-pad-100 {
  padding: 10px 100px;
}

.btn-uppercase {
  text-transform: uppercase;
}

.btn-100 {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group .has-float-label {
  width: 100%;
  margin-bottom: 0;
}

.form-group label {
  font-size: 18px;
  color: #00004D;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #cccccc;
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  outline: 0;
  color: #00004D;
  padding: 18px 15px 6px 15px;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-group .form-control::-webkit-input-placeholder {
  color: #00004D;
}

.form-group .form-control:-ms-input-placeholder {
  color: #00004D;
}

.form-group .form-control::-ms-input-placeholder {
  color: #00004D;
}

.form-group .form-control::placeholder {
  color: #00004D;
}

.form-group .form-control:focus {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00004D;
  border: 1px solid #00004D;
}

.form-group .form-control:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #00004D;
  border: 1px solid #00004D;
}

.form-group span.text {
  display: block;
  width: 100%;
  margin: 5px 15px;
  color: #cccccc;
}

.dropdown-menu ul li .dropdown-item {
  background-color: #fafafa;
  color: #09343b;
}

.dropdown-menu ul li .dropdown-item:hover {
  background-color: #1eb7b3;
  color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1eb7b3 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 50px !important;
  border: 1px solid #ebebeb !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 1px solid #09343b;
  height: 50px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 50px !important;
  font-weight: 400;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px !important;
  width: 30px !important;
}

.input-group .input-group-addon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  height: 50px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 10px 10px 0 !important;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 19px;
  top: 2px;
  position: relative;
}

.input-group .form-control {
  padding-right: 60px;
  border-radius: 3px;
  padding: 18px 15px 6px 15px;
  overflow: hidden;
}

.input-group-2 {
  position: relative;
}

.input-group-2 .input-group-addon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  height: 50px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 10px 10px 0 !important;
}

.input-group-2 .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group-2 .input-group-addon i {
  font-size: 20px;
}

.input-group-2 .form-control {
  padding-left: 60px;
  border-radius: 10px !important;
  overflow: hidden;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #727272;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-mail {
  -webkit-mask: url(../images/icons/mail.svg) no-repeat 50% 50%;
  mask: url(../images/icons/mail.svg) no-repeat 50% 50%;
  width: 19px;
  height: 19px;
}

.icon-key {
  -webkit-mask: url(../images/icons/key.svg) no-repeat 50% 50%;
  mask: url(../images/icons/key.svg) no-repeat 50% 50%;
  width: 20px;
  height: 20px;
}

.icon-phone {
  -webkit-mask: url(../images/icons/mobile.svg) no-repeat 50% 50%;
  mask: url(../images/icons/mobile.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-calendar {
  -webkit-mask: url(../images/icons/calendar.svg) no-repeat 50% 50%;
  mask: url(../images/icons/calendar.svg) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}

.icon-calendar-2 {
  -webkit-mask: url(../images/icons/calendar-2.svg) no-repeat 50% 50%;
  mask: url(../images/icons/calendar-2.svg) no-repeat 50% 50%;
  width: 26px;
  height: 26px;
}

.focus-hover .svg-icon {
  background-color: #00004D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.focus-hover i {
  color: #00004D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.focus-hover .fas, .focus-hover .fab {
  color: #00004D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flatpickr-day.today {
  border-color: #f58031 !important;
}

.flatpickr-day.selected {
  background-color: #f58031 !important;
  border-color: #f58031 !important;
}

/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #fff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .dropdown-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header .dropdown-user a {
  font-size: 14px;
  line-height: 18px;
  color: #343333;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .dropdown-user a .avtar {
  height: 40px;
  width: 40px;
  min-width: 40px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .dropdown-user a .avtar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .dropdown-user .dropdown-menu {
  background: #fff;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 6px 6px;
  right: -20px;
  top: 20px;
  left: auto !important;
  min-width: 180px;
  border: 0 solid #f1f1f1;
}

.header .dropdown-user .dropdown-menu::before {
  content: "";
  border-top: 10px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 7px solid transparent;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 17px;
}

.header .dropdown-user .dropdown-menu ul li a .fe {
  font-size: 20px;
  font-weight: 500;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  z-index: 999;
  border-bottom: 1px solid rgba(236, 236, 236, 0.6);
  padding: 0;
}

.header .navbar .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  max-width: 150px;
}

.header .navbar .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 150px);
          flex: 0 0 calc(100% - 150px);
  max-width: calc(100% - 150px);
}

.header .navbar .navbar-brand {
  width: 120px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  padding: 0;
  outline: 0 !important;
  border: 0;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 22px;
  width: 34px;
  border: 0;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: 8px;
  border: 0;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar .collapse1 .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #343333;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 20px;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
  border-radius: 5px;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #1eb7b3;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #1eb7b3;
}

.header .navbar .collapse1 .navbar-nav .nav-item.btn-nav .btn {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 42px;
  font-size: 20px;
  line-height: 27px;
  padding: 6px 45px;
  color: #09343B;
  border-color: rgba(9, 52, 59, 0.22);
  font-weight: 700;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-item.btn-nav .btn:hover {
  background-color: #09343B;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .nav-btn {
  width: auto;
}

.header-2 .navbar .navbar-toggler {
  top: -10px;
}

.sidenav-new-menu .closebtn {
  display: none;
}

.custom-checkbox .custom-control-label {
  font-size: 12px;
  line-height: 27px;
  padding-left: 8px;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: 0.4px;
  color: #222222;
}

.custom-checkbox .custom-control-label::before {
  height: 19px;
  width: 19px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.custom-checkbox .custom-control-label::after {
  top: 2px;
  left: -26px;
  display: block;
  width: 22px;
  height: 22px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1eb7b3 !important;
  border-color: #1eb8b3 !important;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 3px 15px 0 rgba(30, 184, 179, 0.4);
          box-shadow: 0 3px 15px 0 rgba(30, 184, 179, 0.4);
}

/*############################## Home section ###############################*/
.closebtn img {
  width: 22px;
  height: 21px;
}

.left-sidenav {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00B8DE;
  width: 221px;
  height: 100%;
  min-height: 100vh;
  z-index: 9999;
  display: block;
}

.left-sidenav .closebtn {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
  display: none;
}

.left-sidenav .left-sidenav-inner {
  height: 100%;
  overflow: hidden;
}

.left-sidenav .left-sidenav-inner .nav-div {
  min-height: calc(100vh - 100px);
  height: 100%;
  overflow-y: auto;
  padding-bottom: 100px;
  max-height: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.left-sidenav .left-sidenav-inner .nav-div::-webkit-scrollbar {
  width: 5px;
}

.left-sidenav .left-sidenav-inner .nav-div::-webkit-scrollbar-track {
  background: #1c283a;
}

.left-sidenav .left-sidenav-inner .nav-div::-webkit-scrollbar-thumb {
  background: #888;
}

.left-sidenav .left-sidenav-inner .nav-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.left-sidenav .side-nav-logo {
  height: 115px;
  background-color: #00B8DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.left-sidenav .side-nav-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.left-sidenav .side-nav-logo a img {
  height: auto;
  width: 145px;
  -o-object-fit: contain;
     object-fit: contain;
}

.left-sidenav .nav-div {
  padding: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.left-sidenav .nav-div .sidenav {
  width: 100%;
}

.left-sidenav .nav-div .sidenav ul li {
  display: block;
  margin-bottom: 10px;
}

.left-sidenav .nav-div .sidenav ul li .sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.left-sidenav .nav-div .sidenav ul li .sub-nav li {
  width: 100%;
  margin-bottom: 1px;
}

.left-sidenav .nav-div .sidenav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 40px;
  background-color: transparent;
  position: relative;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}

.left-sidenav .nav-div .sidenav ul li a .icon-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 22px;
  max-width: 22px;
}

.left-sidenav .nav-div .sidenav ul li a .icon-nav img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.left-sidenav .nav-div .sidenav ul li a .icon-nav i {
  color: #000000;
}

.left-sidenav .nav-div .sidenav ul li a::after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 100%;
  right: 20px;
  display: none;
  background-color: #fff;
}

.left-sidenav .nav-div .sidenav ul li a:hover {
  background-color: rgba(0, 0, 77, 0.22);
}

.left-sidenav .nav-div .sidenav ul li a:hover::after {
  display: block;
}

.left-sidenav .nav-div .sidenav ul li a.active {
  background-color: rgba(0, 0, 77, 0.22);
}

.left-sidenav .nav-div .sidenav ul li a.active::after {
  display: block;
}

.sidemenu-open-main {
  padding-left: 220px !important;
  display: block;
  position: relative;
}

.sidemenu-open-header {
  padding-left: 220px !important;
}

.admin-page .header .navbar {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: transparent;
  position: absolute !important;
}

.admin-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.admin-header .logo-admin-header {
  height: 39px;
  width: 39px;
  display: none;
  margin: 0 0 0 40px;
}

.admin-header .logo-admin-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-header .logo-admin-header a img {
  width: 100%;
}

.admin-header .company-name {
  margin-left: 20px;
}

.admin-header .company-name h3 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
  color: #00004D;
  margin-bottom: 0;
}

.admin-header .collapse1 .navbar-nav {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.admin-header .admin-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.admin-header .admin-profile .user-profile {
  padding: 0 25px;
}

.admin-header .admin-profile .user-profile .profile-option img {
  border-radius: 100%;
  overflow: hidden;
  height: 42px;
  width: 42px;
}

.admin-header .admin-profile .user-profile .profile-option::after {
  color: #888;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  border: 0;
  position: relative;
  top: 5px;
}

.admin-header .admin-profile .user-profile .dropdown-menu {
  left: auto;
  right: 0;
  border: 0;
  padding: 10px 0;
  -webkit-box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}

.admin-header .admin-profile .user-profile .dropdown-menu a {
  font-size: 14px;
  line-height: 38px;
  color: #01286A;
  font-weight: 500;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.admin-header .admin-profile .user-profile .dropdown-menu a .img-menu {
  height: 24px;
  width: 24px;
  min-width: 24px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}

.admin-header .admin-profile .user-profile .dropdown-menu a .img-menu img {
  -o-object-fit: contain;
     object-fit: contain;
}

.admin-header .admin-profile .user-profile .dropdown-menu a:hover {
  background-color: #00B8DE;
  color: #fff;
}

.admin-header .admin-profile .user-profile .dropdown-menu a:active {
  background-color: #00B8DE;
  color: #fff;
}

.mb-120 {
  margin-bottom: 160px !important;
}

.footer-note {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  padding-left: 220px;
}

.footer-note p {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 500;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .row-100 .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .row-100 .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 120px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
    display: block !important;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
    background-color: transparent;
    color: #1c283a;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    background-color: transparent;
    color: #1eb7b3;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
    background-color: transparent;
    color: #1eb7b3;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.btn-nav .btn {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 38px;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 35px;
  }
  .header .navbar .nav-btn {
    margin: 10px 0 0 0;
    text-align: center;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 40, 58, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 50px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1c283a;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1c283a;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  .header .dropdown-user {
    margin-right: 60px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .dropdown-user {
    margin-right: 80px;
  }
  .header .navbar {
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block !important;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    color: #1c283a;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    background-color: transparent;
    color: #1eb7b3;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
    background-color: transparent;
    color: #1eb7b3;
  }
  .header .navbar .nav-btn {
    text-align: center;
    white-space: nowrap;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 40, 58, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 50px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1c283a;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1c283a;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 40, 58, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 30%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #1c283a;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #1c283a;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
  }
}

/*######################################################################

middle sectio start here

#################################################################### */
.middle-authentication {
  background-color: #00B8DE;
}

.middle-section {
  margin: 80px 0 0 0;
}

.middle-section .authentication-box {
  padding-top: 70px;
  position: relative;
  overflow: hidden;
}

.middle-section .authentication-box::after {
  content: "";
  background-image: url(../images/patern-right.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: fixed;
  right: -34%;
  top: -16%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.middle-section .authentication-box::before {
  content: "";
  background-image: url(../images/pattern-left.svg);
  background-size: 100% 100%;
  background-position: center;
  display: block;
  position: fixed;
  left: -38%;
  top: 8%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.middle-section .authentication-box .authentication-box-inner {
  min-height: calc(100vh - 130px);
  position: relative;
  z-index: 10;
}

.middle-section .authentication-box .container {
  width: 100%;
  margin: 0 auto;
}

.middle-section .authentication-box .content-box {
  width: 100%;
  padding: 60px 100px 90px 100px;
  background-color: #fff;
  margin: 0 auto 20px auto;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.middle-section .authentication-box .content-box .login-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.middle-section .authentication-box .content-box .login-header .login-logo {
  width: 145px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.middle-section .authentication-box .content-box .login-body .title h3 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  color: #00004D;
}

.middle-section .authentication-box .content-box .login-body .forgot-pass a.forgot-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #bfcfff;
  text-align: right;
  width: 100%;
  display: block;
}

.middle-section .authentication-box .content-box .login-body .forgot-pass a.forgot-link:hover {
  color: #00B8DE;
}

.middle-section .authentication-box .content-box .login-body .or-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.middle-section .authentication-box .content-box .login-body .or-div p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #bfcfff;
  text-align: center;
  width: 100%;
  position: relative;
}

.middle-section .authentication-box .content-box .login-body .or-div p span {
  background-color: #fff;
  padding: 0px 8px;
  height: 1px;
  display: inline-block;
  position: relative;
  z-index: 2;
  height: 20px;
  width: 60px;
  margin: 0 auto;
}

.middle-section .authentication-box .content-box .login-body .or-div p::before {
  content: '';
  background-color: #bfcfff;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 10px;
}

.middle-section .login-footer {
  padding: 10px 0;
  text-align: center;
  width: 100%;
  z-index: 10;
  position: relative;
}

.middle-section .login-footer p {
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.middle-section .login-footer a {
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: 400;
}

.middle-section .login-footer a:hover {
  color: #00004D;
}

.middle-section .project-lisitng-section {
  padding-top: 40px;
  margin: 0 40px;
}

.middle-section .card-admin {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.middle-section .card-admin .card-header {
  background-color: #fff;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-section .card-admin .card-header .title h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

.middle-section .card-admin .card-header .action-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-section .card-admin .card-header .action-groups .search-bar {
  position: relative;
  padding-right: 10px;
}

.middle-section .card-admin .card-header .action-groups .search-bar .form-group {
  margin-bottom: 0;
}

.middle-section .card-admin .card-header .action-groups .search-bar .form-group .input-group-addon {
  height: 40px;
  width: 40px;
}

.middle-section .card-admin .card-header .action-groups .search-bar .form-group .input-group-addon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .card-admin .card-header .action-groups .search-bar .form-group .input-group-addon a span.search {
  display: block;
}

.middle-section .card-admin .card-header .action-groups .search-bar .form-group .input-group-addon a span.close-x {
  display: none;
}

.middle-section .card-admin .card-header .action-groups .search-bar .form-group .form-control {
  height: 40px !important;
  width: 100%;
  border-color: #fff;
  max-width: 100%;
  opacity: 0;
  padding: 10px 15px;
}

.middle-section .card-admin .card-header .action-groups .search-bar .active.form-group .form-control {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-color: #ccc;
}

.middle-section .card-admin .card-header .action-groups .search-bar .active.form-group .input-group-addon {
  height: 40px;
  width: 40px;
}

.middle-section .card-admin .card-header .action-groups .search-bar .active.form-group .input-group-addon a span.search {
  display: none;
}

.middle-section .card-admin .card-header .action-groups .search-bar .active.form-group .input-group-addon a span.close-x {
  display: block;
}

.middle-section .card-admin .card-header .action-groups ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-section .card-admin .card-header .action-groups ul li {
  display: inline-block;
  margin: 0 5px;
}

.middle-section .card-admin .card-header .action-groups ul li a {
  height: 34px;
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-section .card-admin .card-header .action-groups .roate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.middle-section .card-admin .card-header .action-groups .btn {
  height: 42px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 7px;
}

.middle-section .card-admin .card-header .nav-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  border: 0;
}

.middle-section .card-admin .card-header .nav-card li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.middle-section .card-admin .card-header .nav-card li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: rgba(0, 0, 77, 0.5);
  font-weight: 600;
  line-height: 27px;
  font-size: 18px;
}

.middle-section .card-admin .card-header .nav-card li a.active {
  color: #00004d;
}

.middle-section .card-admin .card-body {
  background-color: #fff;
  padding: 0px 30px 30px 30px;
}

.middle-section .card-admin .card-body .project-list .row-10 {
  margin: 0 -5px;
}

.middle-section .card-admin .card-body .project-list .row-10 .pad-10 {
  padding: 0 5px;
}

.middle-section .card-admin .card-body .project-list .card-project {
  padding: 30px;
  border: 1px solid rgba(191, 207, 255, 0.5);
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 8px;
  display: block;
  margin-bottom: 10px;
}

.middle-section .card-admin .card-body .project-list .card-project .card-icon {
  height: 41px;
  width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 6px;
  border-radius: 2px;
  border: 1px solid rgba(191, 207, 255, 0.3);
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}

.middle-section .card-admin .card-body .project-list .card-project .card-icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.middle-section .card-admin .card-body .project-list .card-project .card-content h3 {
  color: #00B8DE;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
}

.middle-section .card-admin .card-body .project-list .card-project .card-content h5 {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 400;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .project-list .card-project .card-content p {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 77, 0.33);
  font-weight: 400;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .project-list .heading ul {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
}

.middle-section .card-admin .card-body .project-list .heading ul li {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 77, 0.33);
  font-weight: 400;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .project-list .card-project-view ul {
  padding: 15px 20px;
  border: 1px solid rgba(191, 207, 255, 0.5);
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(1) {
  max-width: 60px;
  width: 100%;
}

.middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(2) {
  max-width: 160px;
  width: 100%;
}

.middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(3) {
  max-width: 160px;
  width: 100%;
}

.middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(3) {
  width: 100%;
}

.middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(4) {
  width: 100%;
}

.middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(5) {
  width: 100%;
  text-align: right;
  max-width: 120px;
}

.middle-section .card-admin .card-body .project-list .card-project-view .card-icon {
  height: 41px;
  width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 6px;
  border-radius: 2px;
  border: 1px solid rgba(191, 207, 255, 0.3);
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 0px;
}

.middle-section .card-admin .card-body .project-list .card-project-view .card-icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.middle-section .card-admin .card-body .project-list .card-project-view h3 {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 600;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .project-list .card-project-view h5 {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 500;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .project-list .card-project-view p {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 400;
  color: rgba(0, 0, 77, 0.85);
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .member-group .member-card ul {
  padding: 15px 20px;
  border: 1px solid rgba(191, 207, 255, 0.5);
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
}

.middle-section .card-admin .card-body .member-group .member-card ul li {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 400;
  color: rgba(0, 0, 77, 0.85);
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.middle-section .card-admin .card-body .member-group .member-card ul li:first-child {
  text-align: right;
}

.middle-section .card-admin .card-body .member-group .member-card ul li:last-child {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .card-admin .card-body .member-group .member-card .member-porfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.middle-section .card-admin .card-body .member-group .member-card .member-porfile .profile {
  height: 41px;
  width: 41px;
  min-width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 10px;
}

.middle-section .card-admin .card-body .member-group .member-card .member-porfile .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .card-admin .card-body .member-group .member-card .member-porfile h3 {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 600;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .member-group .member-card .member-porfile h3 span.tag {
  padding: 8px 15px;
  display: inline-block;
  background-color: #00B8DE;
  border-radius: 4px;
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.middle-section .card-admin .card-body .member-group .member-card h3 {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 600;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .member-group .member-card p {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 400;
  color: rgba(0, 0, 77, 0.85);
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .edit-profile textarea {
  min-height: 120px;
}

.middle-section .card-admin .card-body .edit-profile .heading h6 {
  font-weight: 500;
}

.middle-section .card-admin .card-body .edit-profile .profile-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.middle-section .card-admin .card-body .edit-profile .profile-pic-upload .circle {
  position: relative;
  width: 100px;
}

.middle-section .card-admin .card-body .edit-profile .profile-pic-upload .circle img {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 100px;
}

.middle-section .card-admin .card-body .edit-profile .profile-pic-upload .circle .filelabel-icon {
  -webkit-box-shadow: 0 2px 4px 0 #E8E8E8;
          box-shadow: 0 2px 4px 0 #E8E8E8;
  position: absolute;
  right: -10px;
  bottom: -8px;
  background-color: #00B8DE;
  height: 32px;
  width: 32px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
}

.middle-section .card-admin .card-body .edit-profile .profile-pic-upload .circle .filelabel-icon i {
  font-size: 20px;
}

.middle-section .card-admin .card-body .edit-profile .profile-pic-upload .p-image {
  display: none;
}

.middle-section .card-admin .card-body .no-label .form-control {
  padding: 12px 20px;
}

.middle-section .card-admin .card-body .no-label textarea.form-control {
  padding: 15px 20px;
}

.middle-section .card-admin .card-body label {
  font-size: 16px;
  line-height: 26px;
}

.middle-section .card-admin .card-body .choose-icon {
  background-color: #fff;
  border: 1px solid rgba(3, 27, 61, 0.3);
  color: #031B3D;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  min-width: 40px;
  padding: 6px 8px;
  display: block;
  margin-bottom: 8px;
}

.middle-section .card-admin .card-body .choose-icon.selected, .middle-section .card-admin .card-body .choose-icon.active {
  background-color: rgba(0, 0, 179, 0.05);
  border: 1px solid #00B8DE;
}

.middle-section .card-admin .card-body .choose-icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .card-admin .card-body .list-icon li {
  display: inline-block;
  margin-right: 8px;
}

.middle-section .card-admin .card-body .setting-group .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

.middle-section .card-admin .card-body .setting-group .heading h3 {
  font-size: 18px;
  line-height: 27px;
  color: #031B3D;
  font-weight: 600;
}

.middle-section .card-admin .card-body .setting-group .heading .btn.btn-small {
  padding: 6px 60px;
}

.middle-section .card-admin .card-body .setting-group .setting-card ul {
  padding: 20px 20px;
  border: 1px solid rgba(191, 207, 255, 0.5);
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.middle-section .card-admin .card-body .setting-group .setting-card ul li {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 400;
  color: rgba(0, 0, 77, 0.85);
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.middle-section .card-admin .card-body .setting-group .setting-card ul li:first-child {
  text-align: right;
}

.middle-section .card-admin .card-body .setting-group .setting-card ul li:last-child {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .card-admin .card-body .setting-group .setting-card .member-porfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.middle-section .card-admin .card-body .setting-group .setting-card .member-porfile .profile {
  height: 41px;
  width: 41px;
  min-width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 10px;
}

.middle-section .card-admin .card-body .setting-group .setting-card .member-porfile .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .card-admin .card-body .setting-group .setting-card .member-porfile h3 {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 600;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .setting-group .setting-card .member-porfile h3 span.tag {
  padding: 8px 15px;
  display: inline-block;
  background-color: #00B8DE;
  border-radius: 4px;
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.middle-section .card-admin .card-body .setting-group .setting-card h3 {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 600;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .setting-group .setting-card p {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 400;
  color: rgba(0, 0, 77, 0.85);
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .setting-group .variable-card.heading ul {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
  width: 100%;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .setting-group .variable-card.heading ul li {
  font-weight: 400;
}

.middle-section .card-admin .card-body .setting-group .variable-card ul {
  padding: 20px 20px;
  border: 1px solid rgba(191, 207, 255, 0.5);
  -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
}

.middle-section .card-admin .card-body .setting-group .variable-card ul li {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 500;
  color: rgba(0, 0, 77, 0.85);
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  white-space: nowrap;
}

.middle-section .card-admin .card-body .setting-group .variable-card ul li .material-icons {
  color: #979797;
}

.middle-section .card-admin .card-body .setting-group .variable-card ul li .mb-block {
  display: none;
}

.middle-section .card-admin .card-body .setting-group .variable-card ul li:first-child {
  text-align: right;
}

.middle-section .card-admin .card-body .setting-group .variable-card ul li:last-child {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .card-admin .card-body .setting-group .variable-card ul .editbtn span {
  font-size: 20px;
  color: #00004D;
}

.middle-section .card-admin .card-body .setting-group .variable-card .member-porfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.middle-section .card-admin .card-body .setting-group .variable-card .member-porfile .profile {
  height: 41px;
  width: 41px;
  min-width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 10px;
}

.middle-section .card-admin .card-body .setting-group .variable-card .member-porfile .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .card-admin .card-body .setting-group .variable-card .member-porfile h3 {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 600;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .setting-group .variable-card .member-porfile h3 span.tag {
  padding: 8px 15px;
  display: inline-block;
  background-color: #00B8DE;
  border-radius: 4px;
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.middle-section .card-admin .card-body .setting-group .variable-card h3 {
  font-size: 14px;
  line-height: 18px;
  color: #00004D;
  font-weight: 600;
  margin-bottom: 0;
}

.middle-section .card-admin .card-body .setting-group .variable-card p {
  font-size: 12px;
  line-height: 18px;
  color: #00004D;
  font-weight: 400;
  color: rgba(0, 0, 77, 0.85);
  margin-bottom: 0;
}

.middle-section .card-admin .card-footer {
  padding: 30px 30px;
}

.middle-section .welcome-dashbard h3 {
  color: #00004D;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.middle-section .welcome-dashbard ul {
  margin: 30px 0 40px 0;
  padding: 0;
}

.middle-section .welcome-dashbard ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 50px;
  background-color: rgba(191, 207, 255, 0.07);
  border-radius: 11px;
  margin-bottom: 10px;
}

.middle-section .welcome-dashbard ul li a:hover {
  background-color: rgba(191, 207, 255, 0.3);
}

.middle-section .welcome-dashbard ul li a .icon-menu {
  width: 37px;
  height: 37px;
  min-width: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}

.middle-section .welcome-dashbard ul li a p {
  color: #00004D;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0;
}

.middle-section .import-data h3 {
  color: #00004D;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.middle-section .import-data .import-svg {
  margin: 60px auto 40px auto;
  max-width: 405px;
}

.middle-section .import-data .import-svg img {
  width: 100%;
}

.middle-section .import-data .content {
  text-align: center;
  margin-bottom: 20px;
}

.middle-section .import-data .content p {
  font-size: 18px;
  line-height: 28px;
  color: #00004D;
}

.middle-section .import-data .content .btn {
  max-width: 400px;
}

.middle-section .import-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(191, 207, 255, 0.07);
  border: 1px solid rgba(191, 207, 255, 0.27);
  width: 100%;
  padding: 40px 60px;
}

.middle-section .import-box .icon-import {
  height: 82px;
  width: 92px;
  min-width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .import-box .icon-import img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-section .import-box .content-import {
  padding-left: 20px;
}

.middle-section .import-box .content-import h3 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}

.middle-section .import-box .content-import .btn {
  height: 42px;
  max-width: 196px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 27px;
  border-radius: 7px;
  border: 1px solid rgba(3, 27, 61, 0.3);
}

.modal-custom .modal-dialog {
  max-width: 580px !important;
}

.modal-custom .modal-header {
  padding: 30px 30px;
}

.modal-custom .modal-header h5 {
  font-size: 18px;
  line-height: 22px;
}

.modal-custom .modal-header .close {
  font-weight: 600;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.modal-custom .modal-header .close .fa {
  font-weight: 600;
}

.modal-custom .modal-header .nav-tabs {
  border: 0;
}

.modal-custom .modal-header .nav-tabs li {
  margin-right: 50px;
}

.modal-custom .modal-header .nav-tabs li:last-child {
  margin-right: 0;
}

.modal-custom .modal-header .nav-tabs li a {
  font-size: 18px;
  line-height: 22px;
  color: #00004D;
  font-weight: 600;
  position: relative;
  padding: 0 0px;
  text-align: center;
}

.modal-custom .modal-header .nav-tabs li a::after {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #00B8DE;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: -36px;
}

.modal-custom .modal-body {
  padding: 30px 30px;
}

.modal-custom .modal-body p {
  font-size: 14px;
  line-height: 21px;
  color: #031B3D;
}

.modal-custom .modal-body .no-label .form-control {
  padding: 12px 20px;
}

.modal-custom .modal-body .no-label textarea.form-control {
  padding: 15px 20px;
}

.modal-custom .modal-body .form-group {
  margin-bottom: 15px;
}

.modal-custom .modal-body .form-group .has-float-label label, .modal-custom .modal-body .form-group .has-float-label > span {
  top: 0;
}

.modal-custom .modal-body .form-group .has-float-label input:placeholder-shown:not(:focus) + *, .modal-custom .modal-body .form-group .has-float-label select:placeholder-shown:not(:focus) + *, .modal-custom .modal-body .form-group .has-float-label textarea:placeholder-shown:not(:focus) + * {
  top: 15px;
}

.modal-custom .modal-body .form-group label {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #031B3D;
}

.modal-custom .modal-body .form-group .choose-icon {
  background-color: #fff;
  border: 1px solid rgba(3, 27, 61, 0.3);
  color: #031B3D;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  min-width: 40px;
  padding: 6px 8px;
  display: block;
  margin-bottom: 8px;
}

.modal-custom .modal-body .form-group .choose-icon.selected, .modal-custom .modal-body .form-group .choose-icon.active {
  background-color: rgba(0, 0, 179, 0.05);
  border: 1px solid #00B8DE;
}

.modal-custom .modal-body .form-group .choose-icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-custom .modal-body .form-group .list-icon li {
  display: inline-block;
  margin-right: 8px;
}

.modal-custom .modal-footer {
  padding: 30px 30px;
}

.modal-custom .modal-footer .btn {
  white-space: nowrap;
  font-size: 16px;
}

.modal-footer .btn {
  width: 100%;
  padding: 8px 40px !important;
  width: 100%;
}

@media (max-width: 767px) {
  .admin-header .admin-profile .user-profile {
    padding: 0 50px 0 0;
  }
  .left-sidenav {
    width: 0;
  }
  .left-sidenav .closebtn {
    display: block;
  }
  .left-sidenav.w-70 {
    width: 100% !important;
  }
  .sidemenu-open-main {
    padding-left: 0 !important;
  }
  .sidemenu-open-header {
    padding-left: 0 !important;
  }
  .middle-section .project-lisitng-section {
    margin: 0 0;
  }
  .middle-section .card-admin .card-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .middle-section .card-admin .card-header .title {
    width: 100%;
  }
  .middle-section .card-admin .card-header .title h3 {
    text-align: left;
  }
  .middle-section .card-admin .card-header .action-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .middle-section .card-admin .card-header .action-groups ul {
    margin-bottom: 10px;
  }
  .middle-section .card-admin .card-header .action-groups ul li .search-bar {
    margin-bottom: 0px;
  }
  .middle-section .card-admin .card-header .action-groups .search-bar {
    margin-bottom: 10px;
  }
  .middle-section .card-admin .card-header .add-project {
    width: 100%;
    text-align: right;
  }
  .middle-section .card-admin .card-header .nav-card li {
    width: auto;
  }
  .middle-section .card-admin .card-header .nav-card li a {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
  }
  .middle-section .card-admin .card-body {
    padding: 0 20px 20px 20px;
  }
  .middle-section .card-admin .card-body .project-list .heading {
    display: none;
  }
  .middle-section .card-admin .card-body .project-list .card-project-view ul {
    padding: 15px 10px;
    border: 1px solid rgba(191, 207, 255, 0.5);
    -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
            box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 10px;
  }
  .middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(1) {
    max-width: unset;
    width: 100%;
  }
  .middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(2) {
    max-width: unset;
    width: 100%;
  }
  .middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(3) {
    max-width: unset;
    width: 100%;
  }
  .middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(3) {
    width: 100%;
  }
  .middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(4) {
    width: 100%;
  }
  .middle-section .card-admin .card-body .project-list .card-project-view ul li:nth-child(5) {
    width: 100%;
    text-align: left;
    max-width: unset;
  }
  .middle-section .card-admin .card-body .member-group .member-card ul li {
    margin-bottom: 3px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .middle-section .card-admin .card-body .member-group .member-card ul li:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .middle-section .card-admin .card-body .setting-group .setting-card ul li {
    margin-bottom: 3px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .middle-section .card-admin .card-body .setting-group .setting-card ul li:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .middle-section .card-admin .card-body .setting-group .heading h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .middle-section .card-admin .card-body .setting-group .heading .btn.btn-small {
    padding: 6px 12px;
    font-size: 14px;
    height: 40px;
  }
  .middle-section .card-admin .card-body .setting-group .heading-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-section .card-admin .card-body .setting-group .variable-card.heading {
    display: none;
  }
  .middle-section .card-admin .card-body .setting-group .variable-card ul li {
    width: 100%;
    text-align: left;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 5px 0;
    white-space: normal;
  }
  .middle-section .card-admin .card-body .setting-group .variable-card ul li:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .middle-section .card-admin .card-body .setting-group .variable-card ul li:last-child .editbtn {
    margin-left: 50%;
    display: block;
  }
  .middle-section .card-admin .card-body .setting-group .variable-card ul li .mb-block {
    display: block;
    width: 50%;
    text-align: left;
    color: rgba(0, 0, 77, 0.5);
  }
  .middle-section .card-admin .card-footer {
    padding: 20px 20px;
  }
  .middle-section .card-admin .card-footer .btn-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .card-admin .card-footer .btn-groups .btn {
    padding: 8px 30px;
    width: 100%;
    margin: 0 2px;
  }
  .middle-section .authentication-box .content-box {
    padding: 40px 25px;
  }
  .middle-section .mb-120 {
    margin-bottom: 0px !important;
  }
  .middle-section .footer-note {
    position: unset !important;
    padding-left: 20px;
  }
  .modal-custom .modal-header .nav-tabs li {
    margin-left: 0;
  }
  .modal-custom .modal-header .nav-tabs li a {
    font-size: 15px;
    line-height: 24px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .admin-header .admin-profile .user-profile {
    padding: 0 50px 0 0;
  }
  .left-sidenav {
    width: 0;
  }
  .left-sidenav .closebtn {
    display: block;
  }
  .left-sidenav.w-70 {
    width: 230px !important;
  }
  .sidemenu-open-main {
    padding-left: 0 !important;
  }
  .sidemenu-open-header {
    padding-left: 0 !important;
  }
}
/*# sourceMappingURL=custom.css.map */